beautifulsoup4==4.12.3
bs4==0.0.2
Django==4.2.7
django-bootstrap5==23.4
django-cors-headers==4.3.1
djangorestframework==3.14.0
matplotlib==3.8.3
mdurl==0.1.2
multidict==6.0.5
nltk==3.8.1
numpy==1.26.4
pandas==2.2.1
Pygments==2.16.1
urllib3==2.0.4
yfinance==0.2.37
